In [1]:
import pandas as pd
import numpy as np
from functools import reduce
import netCDF4 as nc

## Load Dataset

In [2]:
df = pd.read_csv("~data/sites_data_15x15.csv")
df

,time,site,BBP,CDM,SPM,KD490,ZSD,CHL,grid_index
0,2020-01-01,ukc1101-06000,NaN,NaN,NaN,NaN,NaN,NaN,1
1,2020-01-01,ukc1101-06000,NaN,NaN,NaN,NaN,NaN,NaN,2
2,2020-01-01,ukc1101-06000,NaN,NaN,NaN,NaN,NaN,NaN,3
3,2020-01-01,ukc1101-06000,NaN,NaN,NaN,NaN,NaN,NaN,4
4,2020-01-01,ukc1101-06000,NaN,NaN,NaN,NaN,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...
106037995,2022-12-31,ukk4307-33900,NaN,NaN,NaN,NaN,NaN,NaN,221
106037996,2022-12-31,ukk4307-33900,NaN,NaN,NaN,NaN,NaN,NaN,222
106037997,2022-12-31,ukk4307-33900,NaN,NaN,NaN,NaN,NaN,NaN,223
106037998,2022-12-31,ukk4307-33900,NaN,NaN,NaN,NaN,NaN,NaN,224
106037999,2022-12-31,ukk4307-33900,NaN,NaN,NaN,NaN,NaN,NaN,225

# Missing data approaches

In [8]:
df_mean = df.copy()
cols = ['BBP', 'CDM', 'SPM', 'KD490', 'ZSD', 'CHL']
for col in cols:
    df_mean[col] = df_mean[col].fillna(df_mean.groupby(['time', 'site'])[col].transform(np.mean))
df_mean

,time,site,lat,lon,BBP,CDM,SPM,KD490,ZSD,CHL
0,2020-01-01,ukc1101-06000,54.588543,-1.255207,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-01,ukc1101-06000,54.588543,-1.244790,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,ukc1101-06000,54.588543,-1.234374,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-01,ukc1101-06000,54.588543,-1.223957,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-01,ukc1101-06000,54.588543,-1.213540,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
106037995,2022-12-31,ukk4307-33900,51.119793,-4.203124,NaN,NaN,NaN,NaN,NaN,NaN
106037996,2022-12-31,ukk4307-33900,51.119793,-4.192707,NaN,NaN,NaN,NaN,NaN,NaN
106037997,2022-12-31,ukk4307-33900,51.119793,-4.182291,NaN,NaN,NaN,NaN,NaN,NaN
106037998,2022-12-31,ukk4307-33900,51.119793,-4.171874,NaN,NaN,NaN,NaN,NaN,NaN
106037999,2022-12-31,ukk4307-33900,51.119793,-4.161457,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
for col in cols:
    pct_missing = df_mean[col].isna().mean() * 100
    print(f'{col}: {pct_missing}%')

BBP: 83.83954337124428%
CDM: 83.83954337124428%
SPM: 43.18897470718044%
KD490: 43.29825157019182%
ZSD: 43.29825157019182%
CHL: 43.29825157019182%

In [8]:
df_mean.to_csv("sites_data_15x15_na_mean.csv")

In [7]:
df_neg10 = df_mean.fillna(-10)
df_zero = df_mean.fillna(0)

In [9]:
df_neg10

,time,site,BBP,CDM,SPM,KD490,ZSD,CHL,grid_index
0,2020-01-01,ukc1101-06000,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,1
1,2020-01-01,ukc1101-06000,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,2
2,2020-01-01,ukc1101-06000,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,3
3,2020-01-01,ukc1101-06000,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,4
4,2020-01-01,ukc1101-06000,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,5
...,...,...,...,...,...,...,...,...,...
106037995,2022-12-31,ukk4307-33900,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,221
106037996,2022-12-31,ukk4307-33900,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,222
106037997,2022-12-31,ukk4307-33900,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,223
106037998,2022-12-31,ukk4307-33900,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,224
106037999,2022-12-31,ukk4307-33900,-10.0,-10.0,-10.0,-10.0,-10.0,-10.0,225

In [8]:
df_zero

,time,site,BBP,CDM,SPM,KD490,ZSD,CHL,grid_index
0,2020-01-01,ukc1101-06000,0.0,0.0,0.0,0.0,0.0,0.0,1
1,2020-01-01,ukc1101-06000,0.0,0.0,0.0,0.0,0.0,0.0,2
2,2020-01-01,ukc1101-06000,0.0,0.0,0.0,0.0,0.0,0.0,3
3,2020-01-01,ukc1101-06000,0.0,0.0,0.0,0.0,0.0,0.0,4
4,2020-01-01,ukc1101-06000,0.0,0.0,0.0,0.0,0.0,0.0,5
...,...,...,...,...,...,...,...,...,...
106037995,2022-12-31,ukk4307-33900,0.0,0.0,0.0,0.0,0.0,0.0,221
106037996,2022-12-31,ukk4307-33900,0.0,0.0,0.0,0.0,0.0,0.0,222
106037997,2022-12-31,ukk4307-33900,0.0,0.0,0.0,0.0,0.0,0.0,223
106037998,2022-12-31,ukk4307-33900,0.0,0.0,0.0,0.0,0.0,0.0,224
106037999,2022-12-31,ukk4307-33900,0.0,0.0,0.0,0.0,0.0,0.0,225

In [11]:
df_neg10.to_csv("sites_data_15x15_na_mean_neg10.csv", index=False)
df_zero.to_csv("sites_data_15x15_na_mean_zero.csv", index=False)

In [2]:
df_neg10 = pd.read_csv("sites_data_15x15_na_mean_neg10.csv")
df_zero = pd.read_csv("sites_data_15x15_na_mean_zero.csv")

# Mean, Median, Q1, Q3 for every time + site pair

In [3]:
def mean_median_over_pixel_grid(df, dim):
    '''
    inputs:
        - Grid dimension (integer, 1 / 3 / ... / 15)
        
    output:
        - dataframe with the following columns:
            - Time
            - Site
            - 12 columns for every combination of BBP/CDM/CHL/SPM/ZSD/KD490 x median/mean/q1/q3
    '''
    # Dataframe with only relevant pixels based on grid dimension
    i = int((dim-1)/2)
    indices = np.array(range(1,226)).reshape(15,15)[7-i:8+i, 7-i:8+i].flatten()
    df1 = df[df['grid_index'].isin(indices)]
    
    # Mean, Median, Quantiles
    median = df1.groupby(['time', 'site']).median().drop(['grid_index'], axis=1).add_suffix(f'_{dim}x{dim}_median')
    mean = df1.groupby(['time', 'site']).mean().drop(['grid_index'], axis=1).add_suffix(f'_{dim}x{dim}_mean')
    q1 = df1.groupby(['time', 'site']).quantile(0.25).drop(['grid_index'], axis=1).add_suffix(f'_{dim}x{dim}_q1')
    q3 = df1.groupby(['time', 'site']).quantile(0.75).drop(['grid_index'], axis=1).add_suffix(f'_{dim}x{dim}_q3')
    df2 = reduce(lambda left,right: pd.merge(left,right,on=['time', 'site'],how='outer'), [median, mean, q1, q3])
       
    return df2

In [4]:
%%time
dfs = []

for dim in list(range(1,16,2)):
    dfs.append(mean_median_over_pixel_grid(df, dim))

CPU times: user 16min 55s, sys: 2min 7s, total: 19min 3s
Wall time: 19min 38s

In [4]:
%%time
dfs_neg10 = []

for dim in list(range(1,16,2)):
    dfs_neg10.append(mean_median_over_pixel_grid(df_neg10, dim))

CPU times: user 18min 1s, sys: 3min 7s, total: 21min 8s
Wall time: 22min 14s

In [5]:
%%time
dfs_zero = []

for dim in list(range(1,16,2)):
    dfs_zero.append(mean_median_over_pixel_grid(df_zero, dim))

CPU times: user 16min 24s, sys: 2min 45s, total: 19min 10s
Wall time: 34min 45s

In [5]:
features_df = reduce(lambda left, right: pd.merge(left, right, on=['time', 'site'],how='outer'), dfs)
features_df

                          BBP_1x1_median  CDM_1x1_median  SPM_1x1_median  \
time       site
2020-01-01 ukc1101-06000             NaN             NaN             NaN
           ukc1101-06100             NaN             NaN             NaN
           ukc1101-06200             NaN             NaN             NaN
           ukc1202-06300             NaN             NaN             NaN
           ukc1202-06400             NaN             NaN             NaN
...                                  ...             ...             ...
2022-12-31 ukk4306-22800             NaN             NaN             NaN
           ukk4306-22900             NaN             NaN             NaN
           ukk4306-23000             NaN             NaN             NaN
           ukk4307-33800             NaN             NaN             NaN
           ukk4307-33900             NaN             NaN             NaN

                          KD490_1x1_median  ZSD_1x1_median  CHL_1x1_median  \
time       site
2020-01-01 ukc1101-06000               NaN             NaN             NaN
           ukc1101-06100               NaN             NaN             NaN
           ukc1101-06200               NaN             NaN             NaN
           ukc1202-06300               NaN             NaN             NaN
           ukc1202-06400               NaN             NaN             NaN
...                                    ...             ...             ...
2022-12-31 ukk4306-22800               NaN             NaN             NaN
           ukk4306-22900               NaN             NaN             NaN
           ukk4306-23000               NaN             NaN             NaN
           ukk4307-33800               NaN             NaN             NaN
           ukk4307-33900               NaN             NaN             NaN

                          BBP_1x1_mean  CDM_1x1_mean  SPM_1x1_mean  \
time       site
2020-01-01 ukc1101-06000           NaN           NaN           NaN
           ukc1101-06100           NaN           NaN           NaN
           ukc1101-06200           NaN           NaN           NaN
           ukc1202-06300           NaN           NaN           NaN
           ukc1202-06400           NaN           NaN           NaN
...                                ...           ...           ...
2022-12-31 ukk4306-22800           NaN           NaN           NaN
           ukk4306-22900           NaN           NaN           NaN
           ukk4306-23000           NaN           NaN           NaN
           ukk4307-33800           NaN           NaN           NaN
           ukk4307-33900           NaN           NaN           NaN

                          KD490_1x1_mean  ...  SPM_15x15_q1  KD490_15x15_q1  \
time       site                           ...
2020-01-01 ukc1101-06000             NaN  ...           NaN             NaN
           ukc1101-06100             NaN  ...           NaN             NaN
           ukc1101-06200             NaN  ...           NaN             NaN
           ukc1202-06300             NaN  ...      2.218511        0.155469
           ukc1202-06400             NaN  ...      2.088109        0.147391
...                                  ...  ...           ...             ...
2022-12-31 ukk4306-22800             NaN  ...           NaN             NaN
           ukk4306-22900             NaN  ...           NaN             NaN
           ukk4306-23000             NaN  ...           NaN             NaN
           ukk4307-33800             NaN  ...           NaN             NaN
           ukk4307-33900             NaN  ...           NaN             NaN

                          ZSD_15x15_q1  CHL_15x15_q1  BBP_15x15_q3  \
time       site
2020-01-01 ukc1101-06000           NaN           NaN           NaN
           ukc1101-06100           NaN           NaN           NaN
           ukc1101-06200           NaN           NaN           NaN
           ukc1202-06300      4.414686      2.392838           NaN
           ukc1202-06400      4.552876      2.188390           NaN
...                                ...           ...           ...
2022-12-31 ukk4306-22800           NaN           NaN           NaN
           ukk4306-22900           NaN           NaN           NaN
           ukk4306-23000           NaN           NaN           NaN
           ukk4307-33800           NaN           NaN           NaN
           ukk4307-33900           NaN           NaN           NaN

                          CDM_15x15_q3  SPM_15x15_q3  KD490_15x15_q3  \
time       site
2020-01-01 ukc1101-06000           NaN           NaN             NaN
           ukc1101-06100           NaN           NaN             NaN
           ukc1101-06200           NaN           NaN             NaN
           ukc1202-06300           NaN      2.355747        0.164187
           ukc1202-06400           NaN      2.351558        0.159994
...                                ...           ...             ...
2022-12-31 ukk4306-22800           NaN           NaN             NaN
           ukk4306-22900           NaN           NaN             NaN
           ukk4306-23000           NaN           NaN             NaN
           ukk4307-33800           NaN           NaN             NaN
           ukk4307-33900           NaN           NaN             NaN

                          ZSD_15x15_q3  CHL_15x15_q3
time       site
2020-01-01 ukc1101-06000           NaN           NaN
           ukc1101-06100           NaN           NaN
           ukc1101-06200           NaN           NaN
           ukc1202-06300      4.705874      2.620098
           ukc1202-06400      5.009740      2.510444
...                                ...           ...
2022-12-31 ukk4306-22800           NaN           NaN
           ukk4306-22900           NaN           NaN
           ukk4306-23000           NaN           NaN
           ukk4307-33800           NaN           NaN
           ukk4307-33900           NaN           NaN

[471280 rows x 192 columns]

In [6]:
features_df_neg10 = reduce(lambda left, right: pd.merge(left, right, on=['time', 'site'],how='outer'), dfs_neg10)
features_df_neg10

                          BBP_1x1_median  CDM_1x1_median  SPM_1x1_median  \
time       site
2020-01-01 ukc1101-06000           -10.0           -10.0      -10.000000
           ukc1101-06100           -10.0           -10.0      -10.000000
           ukc1101-06200           -10.0           -10.0      -10.000000
           ukc1202-06300           -10.0           -10.0        2.275929
           ukc1202-06400           -10.0           -10.0        2.215205
...                                  ...             ...             ...
2022-12-31 ukk4306-22800           -10.0           -10.0      -10.000000
           ukk4306-22900           -10.0           -10.0      -10.000000
           ukk4306-23000           -10.0           -10.0      -10.000000
           ukk4307-33800           -10.0           -10.0      -10.000000
           ukk4307-33900           -10.0           -10.0      -10.000000

                          KD490_1x1_median  ZSD_1x1_median  CHL_1x1_median  \
time       site
2020-01-01 ukc1101-06000        -10.000000      -10.000000      -10.000000
           ukc1101-06100        -10.000000      -10.000000      -10.000000
           ukc1101-06200        -10.000000      -10.000000      -10.000000
           ukc1202-06300          0.160749        4.534724        2.531511
           ukc1202-06400          0.155033        4.743151        2.385542
...                                    ...             ...             ...
2022-12-31 ukk4306-22800        -10.000000      -10.000000      -10.000000
           ukk4306-22900        -10.000000      -10.000000      -10.000000
           ukk4306-23000        -10.000000      -10.000000      -10.000000
           ukk4307-33800        -10.000000      -10.000000      -10.000000
           ukk4307-33900        -10.000000      -10.000000      -10.000000

                          BBP_1x1_mean  CDM_1x1_mean  SPM_1x1_mean  \
time       site
2020-01-01 ukc1101-06000         -10.0         -10.0    -10.000000
           ukc1101-06100         -10.0         -10.0    -10.000000
           ukc1101-06200         -10.0         -10.0    -10.000000
           ukc1202-06300         -10.0         -10.0      2.275929
           ukc1202-06400         -10.0         -10.0      2.215205
...                                ...           ...           ...
2022-12-31 ukk4306-22800         -10.0         -10.0    -10.000000
           ukk4306-22900         -10.0         -10.0    -10.000000
           ukk4306-23000         -10.0         -10.0    -10.000000
           ukk4307-33800         -10.0         -10.0    -10.000000
           ukk4307-33900         -10.0         -10.0    -10.000000

                          KD490_1x1_mean  ...  SPM_15x15_q1  KD490_15x15_q1  \
time       site                           ...
2020-01-01 ukc1101-06000      -10.000000  ...    -10.000000      -10.000000
           ukc1101-06100      -10.000000  ...    -10.000000      -10.000000
           ukc1101-06200      -10.000000  ...    -10.000000      -10.000000
           ukc1202-06300        0.160749  ...      2.275929        0.160749
           ukc1202-06400        0.155033  ...      2.215205        0.155033
...                                  ...  ...           ...             ...
2022-12-31 ukk4306-22800      -10.000000  ...    -10.000000      -10.000000
           ukk4306-22900      -10.000000  ...    -10.000000      -10.000000
           ukk4306-23000      -10.000000  ...    -10.000000      -10.000000
           ukk4307-33800      -10.000000  ...    -10.000000      -10.000000
           ukk4307-33900      -10.000000  ...    -10.000000      -10.000000

                          ZSD_15x15_q1  CHL_15x15_q1  BBP_15x15_q3  \
time       site
2020-01-01 ukc1101-06000    -10.000000    -10.000000         -10.0
           ukc1101-06100    -10.000000    -10.000000         -10.0
           ukc1101-06200    -10.000000    -10.000000         -10.0
           ukc1202-06300      4.534724      2.531511         -10.0
           ukc1202-06400      4.743151      2.385542         -10.0
...                                ...           ...           ...
2022-12-31 ukk4306-22800    -10.000000    -10.000000         -10.0
           ukk4306-22900    -10.000000    -10.000000         -10.0
           ukk4306-23000    -10.000000    -10.000000         -10.0
           ukk4307-33800    -10.000000    -10.000000         -10.0
           ukk4307-33900    -10.000000    -10.000000         -10.0

                          CDM_15x15_q3  SPM_15x15_q3  KD490_15x15_q3  \
time       site
2020-01-01 ukc1101-06000         -10.0    -10.000000      -10.000000
           ukc1101-06100         -10.0    -10.000000      -10.000000
           ukc1101-06200         -10.0    -10.000000      -10.000000
           ukc1202-06300         -10.0      2.275929        0.160749
           ukc1202-06400         -10.0      2.215205        0.155033
...                                ...           ...             ...
2022-12-31 ukk4306-22800         -10.0    -10.000000      -10.000000
           ukk4306-22900         -10.0    -10.000000      -10.000000
           ukk4306-23000         -10.0    -10.000000      -10.000000
           ukk4307-33800         -10.0    -10.000000      -10.000000
           ukk4307-33900         -10.0    -10.000000      -10.000000

                          ZSD_15x15_q3  CHL_15x15_q3
time       site
2020-01-01 ukc1101-06000    -10.000000    -10.000000
           ukc1101-06100    -10.000000    -10.000000
           ukc1101-06200    -10.000000    -10.000000
           ukc1202-06300      4.534724      2.531511
           ukc1202-06400      4.743151      2.385542
...                                ...           ...
2022-12-31 ukk4306-22800    -10.000000    -10.000000
           ukk4306-22900    -10.000000    -10.000000
           ukk4306-23000    -10.000000    -10.000000
           ukk4307-33800    -10.000000    -10.000000
           ukk4307-33900    -10.000000    -10.000000

[471280 rows x 192 columns]

In [7]:
features_df_zero = reduce(lambda left, right: pd.merge(left, right, on=['time', 'site'],how='outer'), dfs_zero)
features_df_zero

                          BBP_1x1_median  CDM_1x1_median  SPM_1x1_median  \
time       site
2020-01-01 ukc1101-06000             0.0             0.0        0.000000
           ukc1101-06100             0.0             0.0        0.000000
           ukc1101-06200             0.0             0.0        0.000000
           ukc1202-06300             0.0             0.0        2.275929
           ukc1202-06400             0.0             0.0        2.215205
...                                  ...             ...             ...
2022-12-31 ukk4306-22800             0.0             0.0        0.000000
           ukk4306-22900             0.0             0.0        0.000000
           ukk4306-23000             0.0             0.0        0.000000
           ukk4307-33800             0.0             0.0        0.000000
           ukk4307-33900             0.0             0.0        0.000000

                          KD490_1x1_median  ZSD_1x1_median  CHL_1x1_median  \
time       site
2020-01-01 ukc1101-06000          0.000000        0.000000        0.000000
           ukc1101-06100          0.000000        0.000000        0.000000
           ukc1101-06200          0.000000        0.000000        0.000000
           ukc1202-06300          0.160749        4.534724        2.531511
           ukc1202-06400          0.155033        4.743151        2.385542
...                                    ...             ...             ...
2022-12-31 ukk4306-22800          0.000000        0.000000        0.000000
           ukk4306-22900          0.000000        0.000000        0.000000
           ukk4306-23000          0.000000        0.000000        0.000000
           ukk4307-33800          0.000000        0.000000        0.000000
           ukk4307-33900          0.000000        0.000000        0.000000

                          BBP_1x1_mean  CDM_1x1_mean  SPM_1x1_mean  \
time       site
2020-01-01 ukc1101-06000           0.0           0.0      0.000000
           ukc1101-06100           0.0           0.0      0.000000
           ukc1101-06200           0.0           0.0      0.000000
           ukc1202-06300           0.0           0.0      2.275929
           ukc1202-06400           0.0           0.0      2.215205
...                                ...           ...           ...
2022-12-31 ukk4306-22800           0.0           0.0      0.000000
           ukk4306-22900           0.0           0.0      0.000000
           ukk4306-23000           0.0           0.0      0.000000
           ukk4307-33800           0.0           0.0      0.000000
           ukk4307-33900           0.0           0.0      0.000000

                          KD490_1x1_mean  ...  SPM_15x15_q1  KD490_15x15_q1  \
time       site                           ...
2020-01-01 ukc1101-06000        0.000000  ...      0.000000        0.000000
           ukc1101-06100        0.000000  ...      0.000000        0.000000
           ukc1101-06200        0.000000  ...      0.000000        0.000000
           ukc1202-06300        0.160749  ...      2.275929        0.160749
           ukc1202-06400        0.155033  ...      2.215205        0.155033
...                                  ...  ...           ...             ...
2022-12-31 ukk4306-22800        0.000000  ...      0.000000        0.000000
           ukk4306-22900        0.000000  ...      0.000000        0.000000
           ukk4306-23000        0.000000  ...      0.000000        0.000000
           ukk4307-33800        0.000000  ...      0.000000        0.000000
           ukk4307-33900        0.000000  ...      0.000000        0.000000

                          ZSD_15x15_q1  CHL_15x15_q1  BBP_15x15_q3  \
time       site
2020-01-01 ukc1101-06000      0.000000      0.000000           0.0
           ukc1101-06100      0.000000      0.000000           0.0
           ukc1101-06200      0.000000      0.000000           0.0
           ukc1202-06300      4.534724      2.531511           0.0
           ukc1202-06400      4.743151      2.385542           0.0
...                                ...           ...           ...
2022-12-31 ukk4306-22800      0.000000      0.000000           0.0
           ukk4306-22900      0.000000      0.000000           0.0
           ukk4306-23000      0.000000      0.000000           0.0
           ukk4307-33800      0.000000      0.000000           0.0
           ukk4307-33900      0.000000      0.000000           0.0

                          CDM_15x15_q3  SPM_15x15_q3  KD490_15x15_q3  \
time       site
2020-01-01 ukc1101-06000           0.0      0.000000        0.000000
           ukc1101-06100           0.0      0.000000        0.000000
           ukc1101-06200           0.0      0.000000        0.000000
           ukc1202-06300           0.0      2.275929        0.160749
           ukc1202-06400           0.0      2.215205        0.155033
...                                ...           ...             ...
2022-12-31 ukk4306-22800           0.0      0.000000        0.000000
           ukk4306-22900           0.0      0.000000        0.000000
           ukk4306-23000           0.0      0.000000        0.000000
           ukk4307-33800           0.0      0.000000        0.000000
           ukk4307-33900           0.0      0.000000        0.000000

                          ZSD_15x15_q3  CHL_15x15_q3
time       site
2020-01-01 ukc1101-06000      0.000000      0.000000
           ukc1101-06100      0.000000      0.000000
           ukc1101-06200      0.000000      0.000000
           ukc1202-06300      4.534724      2.531511
           ukc1202-06400      4.743151      2.385542
...                                ...           ...
2022-12-31 ukk4306-22800      0.000000      0.000000
           ukk4306-22900      0.000000      0.000000
           ukk4306-23000      0.000000      0.000000
           ukk4307-33800      0.000000      0.000000
           ukk4307-33900      0.000000      0.000000

[471280 rows x 192 columns]

In [6]:
features_df.to_csv("~data/feature_extraction_15x15.csv")

In [8]:
features_df_neg10.to_csv("feature_extraction_15x15_neg10.csv")

In [9]:
features_df_zero.to_csv("feature_extraction_15x15_zero.csv")

### 6x225 Dataset

In [23]:
reshaped_dfs = []
for param in ['BBP', 'CDM', 'SPM', 'KD490', 'ZSD', 'CHL']:
    temp = df[['time', 'site', 'grid_index', param]].copy()
    temp = temp.pivot(index=['time', 'site'], columns='grid_index', values=param)
    temp.columns = [f"{param}_{i}" for i in temp.columns]
    reshaped_dfs.append(temp)

new_df = pd.concat(reshaped_dfs, axis=1)

new_df.reset_index(inplace=True)
new_df

,time,site,BBP_1,BBP_2,BBP_3,BBP_4,BBP_5,BBP_6,BBP_7,BBP_8,...,CHL_216,CHL_217,CHL_218,CHL_219,CHL_220,CHL_221,CHL_222,CHL_223,CHL_224,CHL_225
0,2020-01-01,ukc1101-06000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-01,ukc1101-06100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,ukc1101-06200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-01,ukc1202-06300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-01,ukc1202-06400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471275,2022-12-31,ukk4306-22800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471276,2022-12-31,ukk4306-22900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471277,2022-12-31,ukk4306-23000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471278,2022-12-31,ukk4307-33800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471279,2022-12-31,ukk4307-33900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
new_df.to_csv("sites_data_new(6x225).csv", index=False)